
body {
	font-family: Futura;
}

header {
	text-align: center;
	margin: auto;
}

.logo {
	font-family: Georgia;
	}

.logo-letter{
	font-size: 700%;
	font-weight: bolder;
	font-variant: small-caps;
	color: #339;
	padding: 0px 30px;
}

.logo-l {
	text-shadow: 25px 50px 20px rgba(0, 0, 0, 0.4);
}

.logo-h {
	text-shadow: -25px 50px 20px rgba(0, 0, 0, 0.4);
}

section {
	font-style: italic;
	font-variant: small-caps;
}